.svg-detection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.rect-detection {
  pointer-events: auto; /* Enable pointer events on rectangles */
}

.video-container {
  position: relative;
  display: inline-block;
}

.video-player {
  display: block;
}